[ req ]
prompt = no
distinguished_name = req_distinguished_name

[ req_distinguished_name ]
C = {{ ssl_country }}
ST = {{ ssl_state }}
L = {{ ssl_locality }}
O = {{ ssl_org }}
OU = {{ ssl_org_unit }}
CN = {{ ssl_common_name }}
emailAddress = {{ ru_email }}
