# ansible seedbox

WIP ansible plabook for setting up rtorrent and rutorrent 

## Built with:
| Package | Version | Location |
|:-:|:-:|-|
| ansible |  1.3 | http://www.ansibleworks.com |
| xmlrpc-c | stable | {{ svn_xmlrpc_c }} |
| libtorrent | {{ ver_libtorrent }} | {{ src_libtorrent }}{{ ver_libtorrent }}.tar.gz | 
| rtorrent | {{ ver_rtorrent }} | {{ src_libtorrent }}{{ ver_rtorrent }}.tar.gz | 
| rutorrent | {{ ver_rutorrent }} | {{ src_rutorrent }}{{ ver_rutorrent }}.tar.gz |  
| rutorrent plugins | {{ ver_ruplugins }} | {{ src_ruplugins }}{{ ver_ruplugins }}.tar.gz |

#### Nice to have TODO
 * client based ssl certitificat authentication
 * rsync role for syncing local and remote directories
